.heading {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  margin: 0;
  background-color: var(--light);
  width: 100%;
  z-index: 3;
}

.subheading {
  display: flex;
  justify-content: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  border-top: solid var(--spacing) var(--teal);
}

.category {
  width: 100%;
  border-bottom: solid var(--spacing) var(--teal);
  margin-bottom: var(--spacing);
}

.add {
  padding: 32px 16px;
}

.error {
  color: #f00;
}
